    <div class="container" role="contentinfo">
      <div class="row">
        <div class="col-sx-12">
        	<div class="row">
            <div class="col-md-12">
              <ul class="list-inline">
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li> 
            	</ul>
            </div>
         	</div>
          <div class="row">
            <div class="col-md-4">
            	<ul class="list-unstyled">
                <li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              </ul>
            </div>
            <div class="col-md-4">
            	<ul class="list-unstyled">
                <li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              </ul>
            </div>
            <div class="col-md-4">
            	<ul class="list-unstyled">
                <li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              	<li><%= link_to "Link1", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!--/row-->

      <div class="row">
      	<div class="col-md-12">
            	<p class="text-right">
            	  <br>
            	    &copy; by <a href="http://famwa.de">famwa</a> 2015.
              </p>
        	</div>
      </div><!--/row-->
    </div><!--/container-->
