    <div class="container" role="contentinfo">
      <div class="row">
        <div class="col-sx-12">
          <div class="row">
            <div class="col-md-4">
            	<ul class="list-unstyled">
                <li><%= link_to "About", "#" %></li>
                <li><%= link_to "Press", "#" %></li>
                <li><%= link_to "Help", "#" %></li>
              </ul>
            </div>
            <div class="col-md-4">
            	<ul class="list-unstyled">
                <li><%= link_to "FAQ", "#" %></li>
                <li><%= link_to "Jobs", "#" %></li>
                <li><%= link_to "Others", "#" %></li>
              </ul>
            </div>
            <div class="col-md-4">
            	<ul class="list-unstyled">
                <li><%= link_to "Facebook", "#" %></li>
                <li><%= link_to "Twitter", "#" %></li>
                <li><%= link_to "Yelp", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div><!--/row-->

      <div class="row">
      	<div class="col-md-12">
            	<p class="text-right">
            	  <br>
            	    &copy; by <a href="http://famwa.de">famwa</a> 2015.
              </p>
        	</div>
      </div><!--/row-->
    </div><!--/container-->
